<!DOCTYPE html>
<html>
<head>
    <title>Hobbies Page</title>
 </head>


    <body>
    <h1>Hobbies:</h1><br>
       {% block onlyHobbies %}
    {% include ('../../../CV/FlaskProject/templates/Include.html') %}
       {% endblock onlyHobbies %}
        {% if name %}
            <h2>this is  {{ name }}'s Hobbies Page </h2>
        {% else %}
            <h2>Hi !!! Welcome to my Hobbies Page </h2>
        {% endif %}

        <ul>
            <li>{{ hobby1 | default('Cooking',true) | upper }}</li>
            <li>{{ hobby2 | default('Eating',true) | upper }}</li>
            <li>{{ hobby3 | default('Running',true) | upper }}</li>
            {% for hobby3 in hobbies %}
                <li>{{ hobby3 | default('None',true) | upper }}</li>
            {% endfor %}
        </ul>


    </body>

</html>