.mainCv{
  background-image: url(../Img/cv_background.PNG), url("../Img/white.PNG");
  background-size: 100%;
  background-repeat: no-repeat, repeat;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #23adf1;
  bottom: 40px;
  right: 50px;
  border-radius: 2.5cm;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

.godownbtnProjects{

  position: fixed;
  position: static;
  width: 50px;
  height: 50px;
  left: 15px;
  padding:  17px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  font-family: Calibri;
}

.godownbtnAboutMe{

  position: fixed;
  position: static;
  width: 50px;
  height: 50px;
  left: 15px;
  padding:  17px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  font-family: Calibri;
}

.godownbtnContact{

  position: fixed;
  position: static;
  width: 50px;
  height: 50px;
  left: 15px;
  padding:  17px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  font-family: Calibri;
}
.headStart{
  font-size: 98px;
  font-family: Calibri;
  width: 700px;
  text-decoration: none;
  text-align: right;
  margin-left: 20vh;
  margin-top: 30vh;

}
.secHeader{
  font-family: Tahoma;
  font-size: 20px;
  color: #555555;
  margin-top: -10vh;
  margin-left: 58vh;
  text-align: left;
}
.videoMe{
  margin-left: 140vh;
  margin-top: -70vh;
  border-radius: 2.5cm;

}
#h1s{
  font-family: Tahoma;
  padding-left: 5vh;
  font-size: 30px;
}
#h2s{
  font-family: Tahoma;
  padding-left: 5vh;
  font-size: 30px;
}
.pro2{
  padding-left: 5vh;
}
.aboutMe{
   font-family: Calibri;
  font-size: 27px;
padding-left: 60vh;
  margin-top: -50vh;
}
.btn-cv{

   cursor: pointer;
  box-shadow: 0px 1vh 2vh 0px rgba(0,0,0,0.5);
  background-color: rgb(118, 190, 250);
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  font-family:  Calibri ;
  border-radius: 12px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(38, 70, 83);
  padding: 10px 24px;
  margin-left: 115px;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: calibri;
}
input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: calibri;
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(34, 34, 59);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: calibri;
  font-size: 15px;
  font-weight: bold;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(74, 78, 105);
  font-family: calibri;
}

option {
  font-family: calibri;
  padding: 12px 20px;
  font-size: 15px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: rgb(118, 190, 250);
  padding: 20px;
  font-family: calibri;
}

#h2cont{

  font-family: Tahoma;
  padding-left: 5vh;
  font-size: 30px;
}
.h2talk{
  font-family: Tahoma;
  padding-left: 5vh;
  font-size: 27px;
}

#BYE{
  font-family: Tahoma;
  padding-left: 5vh;
  font-size: 27px;
}

.btnUsers{
   cursor: pointer;
  box-shadow: 0px 1vh 2vh 0px rgba(0,0,0,0.5);
  background-color: rgb(118, 190, 250);
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  font-family:  Calibri ;
  border-radius: 12px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(38, 70, 83);
  padding: 10px 24px;
  margin-left: 115px;
}

.assignment9btn{
   cursor: pointer;
  box-shadow: 0px 1vh 2vh 0px rgba(0,0,0,0.5);
  background-color: rgb(118, 190, 250);
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  font-family:  Calibri ;
  border-radius: 12px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(38, 70, 83);
  padding: 10px 24px;
  margin-left: 115px;
}