<!DOCTYPE html>
<html>
    <head>
        <title>My CV website- Amit Gabay</title>
        <link rel="stylesheet" href="../../flaskProject3/static/CSS/cv.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div class="row">
             <div class="col-3 header">header</div>
             <div class="col-1 menu">menu- details</div>
             <div class="col-2 left main1">main-1 part of the page enter</div>
             <div class="col-2 right main2">main-2 part of the page enter</div>
         </div>
    </body>
</html>
